article h1 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1rem;
}

article .meta {
  display: block;
  text-align: center;
  color: #888;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  line-height: 2.1rem;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 4rem 0 2rem;
}

article h2 {
  font-size: 1.2rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

article p {
  margin: 2rem 0;
}

article a {
  color: #419CC0;
}
article a:hover {
  color: #4EBBE6;
}

article img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
  border: 1px solid #ddd;
}

article ul,
article ol {
  padding-left: 2rem;
  margin: 1rem 0;
}

article ul {
  list-style: disc;
}

article ol {
  list-style: decimal;
}

article li {
  margin: 1rem;
}

article pre,
article code {
  background: #eee;
  color: #000;
}

article pre {
  padding: 1rem;
  overflow: auto;
  margin: 2rem 0;
}

article code {
  padding: 0 0.4rem;
  margin: 0 0.4rem;
  font-family: 'Courier New', Courier, Monaco, monospace;
}

article pre > code {
  padding: 0;
  margin: 0;
}
