{{ define "main" }}
<main class="container" id="view-main">
  <article>
    <h1>{{ .Title }}</h1>
    <aside class="meta">{{ .Date.Format "2006/1/2" }}</aside>
    {{ .Content }}
    <aside>
      <div class="share">
        <button type="button" class="share-button">この記事をシェアする</button>
      </div>
    </aside>
  </article>
</main>

<nav id="view-nav">
  <div class="container nav-links-title">最新記事一覧</div>
  <ul class="container">
    {{ range first 5 .Site.RegularPages }}
    <li>{{ partial "nav-link.html" . }}</li>
    {{ end }}
  </ul>
</nav>
{{ end }}
