.error-404 {
  display: block;
  width: 300px;
  margin: auto;
  padding: 6rem 0 8rem;
  text-align: center;
  color: #666;
}

.error-404 a {
  padding: 1rem;
  color: #0075a9;
}
.error-404 a:hover {
  color: #00a1e6;
}
