article h1 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1rem;
}

article .meta {
  display: block;
  text-align: center;
  color: #888;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  line-height: 2.1rem;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 4rem 0 2rem;
}

article h2 {
  font-size: 1.2rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

article p {
  margin: 2rem 0;
}

article a {
  color: #419cc0;
}
article a:hover {
  color: #4ebbe6;
}

article img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
  border: 1px solid #ddd;
}

article ul,
article ol {
  padding-left: 2rem;
  margin: 1rem 0;
}

article ul {
  list-style: disc;
}

article ol {
  list-style: decimal;
}

article li {
  margin: 1rem;
}

article pre {
  margin: 2rem 0;
}

article code {
  padding: 0 0.5em;
  color: #333;
  background-color: #f8f8f8;
  font-family: "Courier New", Courier, Monaco, monospace;
}

article pre > code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}
