header {
  display: block;
  align-items: center;
}

.site {
  display: block;
  color: #fff;
  padding: 0.5rem 1rem;
  padding-left: calc(1rem + env(safe-area-inset-left));
  text-decoration: none;
  background: #0075a9; /* https://ironodata.info/rgb.php?color=0075A9 */
}

.site-title {
  font: inherit;
}

.site-description {
  font-size: 0.8rem;
}

.author {
  display: block;
  padding: 1rem;
  padding-right: calc(1rem + env(safe-area-inset-right));
  max-width: 600px;
  text-decoration: none;
}

.author-card {
  display: flex;
  align-items: center;
  color: #666;
}

.author-icon {
  flex: 0 0 auto;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  margin-right: 1rem;

  background-color: #0075a9;
  background-image: url("/images/author-icon.png");
  background-position: center;
  background-size: cover;
}

.author-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
}

.author-name {
  line-height: 1rem;
  font-weight: bold;
}

.author-biography {
  font-size: 0.8rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  overflow: hidden;
}

.author-sns {
  display: flex;
}

.author-sns-icon {
  margin-left: 0.4rem;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    background: #0075a9;
    margin-bottom: 3rem;
  }

  .author-card {
    color: #fff;
  }
}
