.social-links,
.social-links * {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
}
@media screen and (min-width: 600px) {
  .social-link {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 960px) {
  .social-link {
    width: 60px;
    height: 60px;
  }
}

.social-link[data-social-link="twitter"] {
  background-color: #1da1f2;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20400%20400%22%3E%3Cpath%20d%3D%22M154%20302c94%200%20146-79%20146-146l-1-7c10-7%2019-16%2026-26-9%204-19%206-29%208%2010-7%2018-17%2022-29-10%206-21%2010-32%2013a51%2051%200%200%200-88%2046c-42-2-80-22-106-53a51%2051%200%200%200%2016%2068c-8%200-16-2-23-6v1c0%2024%2018%2045%2041%2050a50%2050%200%200%201-23%201c7%2020%2026%2035%2048%2035a103%20103%200%200%201-76%2022c23%2014%2050%2023%2079%2023%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
}

.social-link[data-social-link="facebook"] {
  background-color: #3b5998;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M212%20197h-37v60h37v176h70V257h50l5-60h-55v-33c0-14%203-20%2017-20h38V83h-49c-52%200-76%2023-76%2067v47z%22%2F%3E%3C%2Fsvg%3E");
}

.social-link[data-social-link="line"] {
  background-color: #52b448;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M443%20233c0-84-84-152-188-152S67%20149%2067%20233c0%2076%2067%20139%20157%20151%207%201%2015%204%2017%209s1%2012%201%2017l-3%2016c-1%205-4%2019%2016%2010s108-63%20148-109c27-30%2040-60%2040-94zm-254%2045a4%204%200%200%201-4%204h-53a4%204%200%200%201-2-1%204%204%200%200%201-1-3v-82a4%204%200%200%201%204-3h13a4%204%200%200%201%203%203v65h36a4%204%200%200%201%204%204zm32%200a4%204%200%200%201-4%204h-13a4%204%200%200%201-4-4v-82a4%204%200%200%201%204-3h13a4%204%200%200%201%204%203zm90%200a4%204%200%200%201-3%204h-13a4%204%200%200%201-1%200h-1v-1a3%203%200%200%201-1-1l-38-50v48a4%204%200%200%201-4%204h-13a4%204%200%200%201-4-4v-82a4%204%200%200%201%204-3h16v1l38%2051v-49a4%204%200%200%201%204-3h13a4%204%200%200%201%203%203zm73-69a4%204%200%200%201-3%204h-36v14h36a4%204%200%200%201%203%204v13a4%204%200%200%201-3%204h-36v13h36a4%204%200%200%201%203%204v13a4%204%200%200%201-3%204h-53a4%204%200%200%201-3-1%204%204%200%200%201-1-3v-82a4%204%200%200%201%201-2%204%204%200%200%201%203-1h53a4%204%200%200%201%203%203z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
}

.social-link[data-social-link="bhatena"] {
  background-color: #00a4de;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%3E%3Cpath%20d%3D%22M278%20258q-13-15-38-17c15-4%2025-9%2032-17s10-18%2010-31a55%2055%200%200%200-7-27%2049%2049%200%200%200-19-19c-7-4-16-6-26-8s-28-3-54-3h-62v228h64q39%200%2056-3c11-2%2021-5%2028-9a53%2053%200%200%200%2022-21c5-9%208-20%208-32%200-17-5-31-14-41zm-107-71h13q24%200%2032%205c5%203%207%209%207%2018s-2%2014-8%2017-16%205-31%205h-13v-45zm53%20130c-6%204-16%206-31%206h-22v-50h23c15%200%2025%202%2031%206s8%2010%208%2020-3%2014-9%2018zm134-11a29%2029%200%201%200%2028%2029%2029%2029%200%200%200-28-29zm-25-170h50v152h-50z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
}
