  {{/* クリティカル CSS を HTML に埋め込み */}}
  {{ if eq .Kind "404" }}
  <style>{{ (partial "critical-404.css" .) | safeCSS }}</style>
  {{ else if .IsPage }}
  <style>{{ (partial "critical-single.css" .) | safeCSS }}</style>
  {{ else }}
  <style>{{ (partial "critical-list.css" .) | safeCSS }}</style>
  {{ end }}

  {{/* JavaScript を非同期でロード */}}
  <script>
    function lightningLoad(src) {
      var s = document.createElement('script');
      s.src = src;
      s.async = true;
      document.head.appendChild(s);
    }
    function lightningAppLoad() {
      lightningLoad('{{ .Site.BaseURL }}app.js');
    }
    requestAnimationFrame(function() {
      if (window.Promise) {
        lightningAppLoad();
      } else {
        lightningLoad('https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise&callback=lightningAppLoad');
      }
    });
  </script>
