<header>

  <a class="site" href="/">
    <h1 class="site-title">{{ .Site.Title }}</h1>
    {{ with $.Site.Params.Description }}<div class="site-description">{{ $.Site.Params.Description }}</div>{{ end }}
  </a>

  <a class="author" href="/about-me/">
    <div class="author-card">
      <div class="author-icon"></div>
      <div>
        <div class="author-header">
          <div class="author-name">{{ .Site.Author.name }}</div>
          <div class="author-sns">
            {{ with .Site.Author.mail }}<span class="author-sns-icon icon-envelope-o" ></span>{{ end }}
            {{ with .Site.Author.twitter }}<span class="author-sns-icon icon-twitter"></span>{{ end }}
            {{ with .Site.Author.github }}<span class="author-sns-icon icon-github-alt"></span>{{ end }}
            <span class="author-sns-icon icon-feed"></span>
          </div>
        </div>
        {{ with .Site.Author.biography }}<div class="author-biography">{{ . }}</div>{{ end }}
      </div>
    </div>
  </a>

</header>
