<head>
  {{ with .Site.GoogleAnalytics }}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ . }}');
  </script>
  {{ end }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">

  <title>{{ .Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}" />
  {{ with $.Site.Params.Description }}<meta name="description" content="{{ $.Site.Params.Description }}" />{{ end }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="website" />
  {{ with .Params.thumbnail }}<meta property="og:image" content="{{ . }}" />{{ end }}
  <meta property="og:url" content="{{ .Permalink }}" />

  {{/* ウェブアプリマニフェストに対応 */}}
  {{ if (fileExists "static/manifest.webmanifest") }}
  <link rel="manifest" href="/manifest.webmanifest" />
  <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.7/pwacompat.min.js"
      integrity="sha384-ptgwb3/v69WGur7IwSnWOowVxE7hcRB3DG/EiHdejrw2sFNwUHynFbiRMPxc4hdS"
      crossorigin="anonymous"></script>
  {{ end }}

  {{/* クリティカル CSS を HTML に埋め込み */}}
  {{ $styles := resources.Get "full.css" | minify }}
  {{ if eq .Kind "404" }}
  {{ else if .IsPage }}
  {{ $styles = resources.Get "single.critical.css" | minify }}
  {{ else }}
  {{ $styles = resources.Get "list.critical.css" | minify }}
  {{ end }}
  {{ with $styles }}<style>{{ .Content | safeCSS }}</style>{{ end }}

  {{/* クリティカル CSS 以外のフル CSS を非同期で読み込む */}}
  <script>
    requestAnimationFrame(function() {
      var l = document.createElement('link');
      l.rel = 'stylesheet';
      l.href = '{{ with resources.Get "full.css" | minify | fingerprint }}{{ .Permalink }}{{ end }}';
      document.head.appendChild(l);
    });
  </script>
</head>
